<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Support Page</title>
  </head>
  <body>
    <header class="page-top">
      <h1>Support Me Please 🙌</h1>
    </header>
    <div class="page-main">
      <section class="about-me">
        <h2>What I do</h2>
        <p>I don't actually do anything that requires constant support, but if I did I'd tell you about it here.</p>
        <p>I suppose, if you'd like to, you could still support me using the tiers listed below.</p>
      </section>
      <section class="support-tiers">
        <h2>Support Me</h2>
        <p>I'm grateful for the support of people just like you. Without your support I couldn't continue to do what I do.</p>
          <ul class="support-list">
            <li class="support-tier tier-1">
              <form action="/subscriber" method="post">
                <input type="hidden" name="stripePlan" value="TIER1" />
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_v3EsiqoJoyCho5olS27pDWDN"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-name="$1/month"
                  data-description="Support me for $1 per month"
                  data-amount="100"
                  data-label="$1/month">
                </script>
              </form>
            </li>
            <li class="support-tier tier-2">
              <form action="/subscriber" method="post">
                <input type="hidden" name="stripePlan" value="TIER2" />
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_v3EsiqoJoyCho5olS27pDWDN"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-name="$5/month"
                  data-description="Support me for $5 per month"
                  data-amount="500"
                  data-label="$5/month">
                </script>
              </form>
            </li>
            <li class="support-tier tier-3">
              <form action="/subscriber" method="post">
                <input type="hidden" name="stripePlan" value="TIER3" />
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_v3EsiqoJoyCho5olS27pDWDN"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-name="$10/month"
                  data-description="Support me for $10 per month"
                  data-amount="1000"
                  data-label="$10/month">
                </script>
              </form>
            </li>
            <li class="support-tier tier-4">
              <form action="/subscriber" method="post">
                <input type="hidden" name="stripePlan" value="TIER4" />
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_v3EsiqoJoyCho5olS27pDWDN"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-name="$15/month"
                  data-description="Support me for $15 per month"
                  data-amount="1500"
                  data-label="$15/month">
                </script>
              </form>
            </li>
          </ul>
      </section>
    </div>
    <footer class="page-top"></footer>
  </body>
</html>
